[req]
prompt 			= no
distinguished_name		= ca_dn

[ca_dn]
commonName			= 192.168.8.113
organizationName		= EVerest
countryName			= DE
domainComponent		= CPO

[ext]
basicConstraints		= critical,CA:false
keyUsage			= critical,digitalSignature,keyAgreement
subjectKeyIdentifier		= hash
